# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dropbox\Prof.Bachelor Software\2 Semester\Semesterprojekt\2.Semesterprojekt\CreditManagementSystemFX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
